@import url("https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans&display=swap");

:root {
  --qua-font: 'Quattrocento', serif;
  --qua-san-font: 'Quattrocento Sans', sans-serif;
  --gold-color: #ffd700;
  --red-color: rgb(255, 0, 0);
  --background-color: rgb(19, 18, 18);
  --font-light-color: rgb(238, 228, 228);
  --font-dark-color: rgb(180, 179, 179);
}

main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.main__container {
  width: 100vw;
  height: 400px;
  position: relative;
  background-image: url("./images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main__container--content {
  margin-top: 130px;
  position: relative;
}

.main__container-header {
  font-size: 36px;
  font-weight: bolder;
  font-family: var(--lato-font);
}

.main__container-description {
  color: white;
  margin: 45px auto 0 auto;
  word-spacing: 2px;
  line-height: 25px;
  font-weight: 700;
}

.main__logo-container {
  display: none;
}

.description {
  width: 90%;
  margin: 15px auto;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.main__section1-description b {
  color: var(--gold-color);
}

/* FEATURE */

.main-features--item {
  text-align: center;
  width: 90%;
  margin: 30px auto;
  padding-top: 20px;
}

.feature__icon-container {
  border-radius: 5px;
  margin: 0 auto;
}

.feature__icon {
  color: #ffd700;
  font-size: 2.8rem;
}

.feature__heading {
  color: #212121;
  font-family: var(--lato-font);
  margin: 15px;
}

.feature__description {
  color: #696565;
  margin: 20px auto;
}

.main-features--items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px;
}

.main-features--counter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px auto 40px auto;
}

.counter {
  width: 150px;
  height: 150px;
}

.counter__heading {
  font-size: 1.2rem;
  margin: 5px;
}

.main__counter--num {
  font-size: 4.8rem;
}

@media screen and (min-width: 600px) {
  .main__container--content {
    margin-top: 160px;
  }

  .main__container-header {
    font-size: 3.2rem;
  }

  .main__container-description {
    color: white;
    font-size: 1.2rem;
  }

  .main__features {
    margin: 0;
  }

  .description {
    font-size: 1.1rem;
    margin: 10px auto;
  }

  .counter__heading {
    font-size: 1.2rem;
    margin: 20px;
  }

  .main__numbers {
    margin: 40px auto;
  }

  .main__counter--num {
    font-size: 5rem;
    margin: 15px;
  }

  .main-features--items {
    margin: 1px 2rem;
  }

  .main-features--counter {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px auto 40px auto;
  }
}

@media screen and (min-width: 700px) {
  .main__container-description {
    margin-top: 30px;
    width: 70%;
  }
}

@media screen and (min-width: 800px) {
  .main-features--list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-features--item {
    width: 300px;
    margin: 10px 20px;
  }
}

@media screen and (min-width: 950px) {
  .main__container {
    width: 100vw;
    height: 600px;
  }

  .main__container-header {
    margin: 100px auto;
  }

  .main__container-description {
    text-align: center;
    margin: 30px auto;
  }

  .main__container--content {
    position: relative;
    top: 10%;
  }

  .hr-line {
    margin: 65px auto;
  }

  .main__section-one {
    display: -webkit-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .main__logo-container {
    display: block;
    width: 150px;
    height: 150px;
  }

  .main__section1-description {
    width: 40%;
    margin: 0;
    padding: 90px 0 0 0;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
  }

  .main__section1-description b {
    color: var(--gold-color);
  }
}
