/* Home */

#main {
  text-align: center;
  z-index: -1;
}

.fas,
.fab {
  color: white;
  font-size: 1.5rem;
  margin: 8px;
  cursor: pointer;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
}

.hvr-bob {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.hvr-bob:hover {
  -webkit-animation-name: hvr-bob;
  animation-name: hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* ABOUT */

.about {
  background: #212121;
}

.about-img {
  width: 200px;
  height: 200px;
  border: 2px solid yellow;
}

.about-section {
  flex-direction: column;
}

.about-main-container {
  flex-direction: column;
}

.about-heading {
  color: #bdbdbd;
}

.about-main {
  color: #757575;
}

.about-hr {
  border: none;
  border-top: 2px solid #bdbdbd;
  width: 80%;
}

.img {
  width: 250px;
  height: 300px;
  border: 1px solid yellow;
}