@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Serif:wght@300;400&display=swap");

:root {
  --roboto-font: 'Roboto Serif', serif;
  --lato-font: 'Lato', sans-serif;
  --gold-color: #ffd700;
  --red-color: rgb(255, 0, 0);
  --grey-font-color: rgb(61, 60, 60);
  --dark-font-color: rgb(43, 41, 41);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.has-text-gold {
  color: var(--gold-color);
}

.is-gold {
  background: var(--gold-color);
}

.flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hr-line {
  width: 90%;
  border: none;
  border-bottom: 1px solid grey;
  margin: 25px auto;
}

.heading {
  color: #7c6d6d;
  font-family: var(--roboto-font);
  text-align: center;
  margin: 10px auto 20px auto;
  font-size: 1.4rem;
  font-weight: bolder;
}

section {
  margin: 50px 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--roboto-font);
  overflow-x: hidden;
  background-color: #f1ebeb;
  color: var(--dark-font-color);
  font-size: 18px;
  line-height: 24px;
}

nav {
  background: #000;
  padding: 5px;
}

.logo {
  margin: 0 15px;
  width: 50px;
  height: 50px;
}

.nav__logo {
  width: 50px;
  height: 50px;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: transparent;
  -webkit-animation: bounce 0.5s cubic-bezier(0.5, 0.05, 1, 0.5);
  animation: bounce 0.5s cubic-bezier(0.5, 0.05, 1, 0.5);
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }
}

.line {
  position: relative;
  width: 100%;
  height: 2px;
  background: #ffd700;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.line::after,
.line::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.line::after {
  top: 10px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu > div {
  background: #ffd700;
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.nav-item {
  color: #000;
  font-size: 1.5rem;
  padding: 1rem;
}

.nav-item a {
  color: inherit;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.toggler:checked + .hamburger > .line {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  background: red;
}

.toggler:checked + .hamburger > .line::before,
.toggler:checked + .hamburger > .line::after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*
.toggler:checked + .hamburger > .line {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
} */

.toggler:checked ~ .menu {
  visibility: visible;
}

.toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: var(--menu-speed);
  transition-duration: var(--menu-speed);
}

.toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.whatsapp {
  position: fixed;
  bottom: 3%;
  right: 2%;
}

.whatsapp-logo {
  width: 30px;
  height: 30px;
  background-image: url("./images/whatsapp.png");
  display: block;
}

.footer__logo-container {
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo-container p {
  color: #ffd700;
  font-size: 17px;
}

.footer__logo {
  width: 80px;
  height: 80px;
}

footer {
  background: #3b3939;
  width: 100%;
  min-height: 250px;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #f1ebeb;
}

.footer__links--container a,
.footer__icon-container a {
  color: #a7a4a4;
  margin: 10px auto;
}

.footer__header {
  margin-top: 30px;
  color: #746f6f;
  font-weight: 900;
}

.footer__icon-container,
.footer__links--container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 15px auto;
}

.hr-footer {
  width: 50%;
  border: none;
  border-top: 1px solid grey;
  margin: 20px 0;
}

@media screen and (min-width: 600px) {
  .heading {
    font-size: 1.8rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 700px) {
  nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
  }

  .menu-container {
    position: relative;
  }

  .toggler,
  .hamburger {
    display: none;
  }

  .menu {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu > div {
    border-radius: 0;
    width: auto;
    height: 50px;
    -webkit-transform: scale(1);
    transform: scale(1);
    background: transparent;
  }

  .menu > div > div {
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
  }

  .nav-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .menu > div > div > ul > .nav-item {
    color: #ffd700;
    font-size: 1rem;
    padding: 1rem;
  }

  .nav-item a {
    color: inherit;
    -webkit-transition: none;
    transition: none;
  }
}

@media screen and (min-width: 900px) {
  .menu > div > div > ul > .nav-item {
    font-size: 1.2rem;
    margin: 0 15px;
  }

  .heading {
    font-size: 2rem;
    margin: 30px;
  }

  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 1.1rem;
  }

  .footer__icon-container,
  .footer__links--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 0;
  }

  .hr-footer {
    display: none;
  }
}

/* INDEX */

main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.main__container {
  width: 100vw;
  height: 400px;
  position: relative;
  background-image: url("./images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main__container--content {
  margin-top: 130px;
  position: relative;
}

.main__container-header {
  font-size: 36px;
  font-weight: bolder;
  font-family: var(--lato-font);
}

.main__container-description {
  color: white;
  margin: 45px auto 0 auto;
  word-spacing: 2px;
  line-height: 25px;
  font-weight: 700;
}

.main__logo-container {
  display: none;
}

.description {
  width: 90%;
  margin: 15px auto;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.main__section1-description b {
  color: var(--gold-color);
}

/* FEATURE */

.main-features--item {
  text-align: center;
  width: 90%;
  margin: 30px auto;
  padding-top: 20px;
}

.feature__icon-container {
  border-radius: 5px;
  margin: 0 auto;
}

.feature__icon {
  color: #ffd700;
  font-size: 2.8rem;
}

.feature__heading {
  color: #212121;
  font-family: var(--lato-font);
  margin: 15px;
}

.feature__description {
  color: #696565;
  margin: 20px auto;
}

.main-features--items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px;
}

.main-features--counter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px auto 40px auto;
}

.counter {
  width: 150px;
  height: 150px;
}

.counter__heading {
  font-size: 1.2rem;
  margin: 5px;
}

.main__counter--num {
  font-size: 4.8rem;
}

@media screen and (min-width: 600px) {
  .main__container--content {
    margin-top: 160px;
  }

  .main__container-header {
    font-size: 3.2rem;
  }

  .main__container-description {
    color: white;
    font-size: 1.2rem;
  }

  .main__features {
    margin: 0;
  }

  .description {
    font-size: 1.1rem;
    margin: 10px auto;
  }

  .counter__heading {
    font-size: 1.2rem;
    margin: 20px;
  }

  .main__numbers {
    margin: 40px auto;
  }

  .main__counter--num {
    font-size: 5rem;
    margin: 15px;
  }

  .main-features--items {
    margin: 1px 2rem;
  }

  .main-features--counter {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px auto 40px auto;
  }
}

@media screen and (min-width: 700px) {
  .main__container-description {
    margin-top: 30px;
    width: 70%;
  }
}

@media screen and (min-width: 800px) {
  .main-features--list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-features--item {
    width: 300px;
    margin: 10px 20px;
  }
}

@media screen and (min-width: 950px) {
  .main__container {
    width: 100vw;
    height: 600px;
  }

  .main__container-header {
    margin: 100px auto;
  }

  .main__container-description {
    text-align: center;
    margin: 30px auto;
  }

  .main__container--content {
    position: relative;
    top: 10%;
  }

  .hr-line {
    margin: 65px auto;
  }

  .main__section-one {
    display: -webkit-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .main__logo-container {
    display: block;
    width: 150px;
    height: 150px;
  }

  .main__section1-description {
    width: 40%;
    margin: 0;
    padding: 90px 0 0 0;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
  }

  .main__section1-description b {
    color: var(--gold-color);
  }
}

/* ABOUT */

.about {
  overflow: scroll;
  font-size: 17px;
}

.about-section {
  padding-bottom: 50px;
  margin: 20px 10px;
}

.about-img {
  width: 200px;
  height: 200px;
  margin: 1px auto;
  background: black;
}

.about-logo {
  width: 150px;
  height: 150px;
}

.about-main-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about__sub-heading {
  margin: 20px auto;
  color: var(--grey-font-color);
  font-size: 1.4rem;
}

.about-main {
  margin: 10px;
  word-spacing: 1px;
}

.img {
  width: 250px;
  height: 300px;
  border: 1px solid yellow;
  margin: 0 auto;
}

.about-tutor-container {
  color: var(--font-dark-color);
}

.about-tutor-container small {
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
  color: #524f4f;
}

.about-tutor-description {
  width: 90%;
  margin: 20px auto;
  line-height: 25px;
  font-size: 16px;
  font-weight: 800;
}

/* ABOUT */
.about-heading {
  margin: 1px auto 20px auto;
}

.about-hr {
  border: none;
  border-top: 2px solid #bdbdbd;
  width: 80%;
  margin: 40px auto;
}

.about-tutor-container h3 {
  margin-top: 20px;
}

/* COURSES */
.course-section {
  line-height: 25px;
  padding: 1px 10px;
}

.course_main-description {
  margin: 30px 20px;
  text-align: left;
}

.courses {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.courses h1 {
  font-family: var(--roboto-font);
  font-size: 22px;
  margin: 5px auto;
}

.courses p {
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
}

.course-section h4 {
  font-size: 1.2rem;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin: 10px auto 0 auto;
}

.course-container {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  border: 5px solid #e2dada;
  border-radius: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f1ebeb;
  -webkit-box-shadow: inset 6px 6px 10px #f5f0f0, inset -2px -2px 10px #b6b0b0, 5px 5px 10px #f5f0f0, -9px -9px 18px #b6b0b0;
  box-shadow: inset 6px 6px 10px #f5f0f0, inset -2px -2px 10px #b6b0b0, 5px 5px 10px #f5f0f0, -9px -9px 18px #b6b0b0;
}

.course__for {
  padding-bottom: 50px;
}

.course__for--item {
  list-style: disc;
  margin: 5px;
}

#modal {
  display: none;
}

.modal__container {
  position: fixed;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  width: 90%;
  height: 50%;
  z-index: 1;
  border-radius: 15px;
  background: #313131;
  color: whitesmoke;
}

.close {
  border: none;
  outline: none;
  background: transparent;
  font-size: 2rem;
  color: red;
  margin: 10px 15px;
  float: right;
}

.modal__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.modal__header {
  margin-top: 10px;
  color: #ffd700;
}

.modal__description {
  margin: 5px auto;
}

@media screen and (min-width: 700px) {
  .about-section,
  .course-section {
    margin: 0;
    padding: 0;
  }

  .about-heading {
    padding: 30px;
  }

  .about-main-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 40px auto;
  }

  .about-main {
    width: 50%;
  }

  .about-tutor-container {
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .about-tutor-description {
    width: 50%;
    margin: 10px;
  }

  .courses {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 30px auto;
  }

  .hr-line {
    margin: 90px auto;
  }
}

/* REVIEW */

.main__review {
  margin: 30px auto;
}

.reviews {
  width: 80%;
  margin: 1px auto;
}

.carousel {
  background: beige;
  margin: 50px auto;
}

.review_name {
  margin: 1px;
}

.review_qualification {
  font-size: 14px;
}

.review_email {
  font-size: 16px;
}

.review_review {
  font-size: 17px;
  line-height: 25px;
  margin: 1px 15px;
}

@media screen and (min-width: 700px) {
  .reviews {
    width: 50%;
  }
}
