@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Serif:wght@300;400&display=swap');

:root {
  --roboto-font: 'Roboto Serif', serif;
  --lato-font: 'Lato', sans-serif;
  --gold-color: #ffd700;
  --red-color: rgb(255, 0, 0);
  --grey-font-color: rgb(61, 60, 60);
  --dark-font-color: rgb(43, 41, 41);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.has-text-gold {
  color: var(--gold-color);
}

.is-gold {
  background: var(--gold-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hr-line {
  width: 90%;
  border: none;
  border-bottom: 1px solid grey;
  margin: 25px auto;
}

.heading {
  color: #7c6d6d;
  font-family: var(--roboto-font);
  text-align: center;
  margin: 10px auto 20px auto;
  font-size: 1.4rem;
  font-weight: bolder;
}

section {
  margin: 50px 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--roboto-font);
  overflow-x: hidden;
  background-color: #f1ebeb;
  color: var(--dark-font-color);
  font-size: 18px;
  line-height: 24px;
}

nav {
  background: #000000;
  padding: 5px;
}

.logo {
  margin: 0 15px;
  width: 50px;
  height: 50px;
}

.nav__logo {
  width: 50px;
  height: 50px;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: transparent;
  animation: bounce 0.5s cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 8px, 0);
  }
}

.line {
  position: relative;
  width: 100%;
  height: 2px;
  background: #ffd700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.line::after,
.line::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.line::after {
  top: 10px;
}

.menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.toggler:checked + .hamburger > .line {
  transform: rotate(135deg);
  background: red;
}

.toggler:checked + .hamburger > .line:before,
.toggler:checked + .hamburger > .line:after {
  top: 0;
  transform: rotate(90deg);
}

.toggler:checked + .hamburger > .line {
  transform: rotate(225deg);
}

.toggler:checked ~ .menu {
  visibility: visible;
}

.toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu > div {
  background: #ffd700;
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.nav-item {
  color: #000;
  font-size: 1.5rem;
  padding: 1rem;
}

.nav-item a {
  color: inherit;
  transition: color 0.4s ease;
}

.whatsapp {
  position: fixed;
  bottom: 3%;
  right: 2%;
}

.whatsapp-logo {
  width: 30px;
  height: 30px;
  background-image: url('./images/whatsapp.png');
  display: block;
}

.footer__logo-container {
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo-container p {
  color: #ffd700;
  font-size: 17px;
}

.footer__logo {
  width: 80px;
  height: 80px;
}

footer {
  background: #3b3939;
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #f1ebeb;
}

.footer__links--container a,
.footer__icon-container a {
  color: rgb(167, 164, 164);
  margin: 10px auto;
}

.footer__header {
  margin-top: 30px;
  color: rgb(116, 111, 111);
  font-weight: 900;
}

.footer__icon-container,
.footer__links--container {
  flex-direction: column;
  margin: 15px auto;
}

.hr-footer {
  width: 50%;
  border: none;
  border-top: 1px solid grey;
  margin: 20px 0;
}

@media screen and (min-width: 600px) {
  .heading {
    font-size: 1.8rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 700px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  .menu-container {
    position: relative;
  }

  .toggler,
  .hamburger {
    display: none;
  }

  .menu {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu > div {
    border-radius: 0;
    width: auto;
    height: 50px;
    transform: scale(1);
    background: transparent;
  }

  .menu > div > div {
    text-align: center;
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .menu > div > div > ul > .nav-item {
    color: #ffd700;
    font-size: 1rem;
    padding: 1rem;
  }

  .nav-item a {
    color: inherit;
    transition: none;
  }
}

@media screen and (min-width: 900px) {
  .menu > div > div > ul > .nav-item {
    font-size: 1.2rem;
    margin: 0 15px;
  }

  .heading {
    font-size: 2rem;
    margin: 30px;
  }

  footer {
    flex-direction: row;
    font-size: 1.1rem;
  }

  .footer__icon-container,
  .footer__links--container {
    flex-direction: column;
    margin: 15px 0;
  }

  .hr-footer {
    display: none;
  }
}
